<section id="contacts" class="contacts">
  <div class="container">
    <div class="contacts-content-wrapper">
      <h3 class="section-subtitle">Contacts</h3>

      <h2 class="section-title">Get in Touch</h2>

      <p class="section-contacts-text">We'd love to hear from you anytime!</p>

      <address class="contacts-box">
        <ul class="contacts-add-list">
          <li class="address-list-item">
            <svg class="contacts-address-icon" width="24" height="24">
              <use href="/img/sprite.svg#"></use>
            </svg>
            <a
              class="contacts-address-link"
              href="mailto:hello@organicstore.com"
            >
              hello@organicstore.com
            </a>
          </li>
          <li class="address-list-item">
            <svg class="contacts-address-icon" width="24" height="24">
              <use href="/img/sprite.svg#"></use>
            </svg>
            <a class="contacts-address-link" href="tel:+15553291024">
              +1 (555) 329-1024
            </a>
          </li>
        </ul>
      </address>

      <form action="#">
        <label class="form-label" for="name">Name</label>
        <input
          type="text"
          placeholder="Sarah"
          name="user-name"
          id="name"
          required
          pattern="^[a-zA-Z\s\.]{5,64}$"
          autocomplete="name"
          class="form-input-name"
        />

        <label class="form-label" for="email">Email</label>
        <input
          type="email"
          placeholder="hello@organic.com"
          name="user-email"
          id="email"
          required
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          autocomplete="email"
          class="form-input-email"
        />

        <label class="form-label" for="message">Message</label>
        <textarea
          placeholder="Type your message..."
          name="user-message"
          id="message"
          required
          maxlength="500"
          class="contacts-form-textarea"
        ></textarea>

        <button class="contacts-form-btn" type="submit">Submit</button>
      </form>
    </div>

    <div>
      <img
        src="/img/contacts-image.jpg"
        srcset="/img/contacts-image@1X.jpg 1x, /img/contacts-image@2X.jpg 2x"
        alt="A small, friendly team of people smiling and looking directly at the camera, standing or sitting around a wooden table with organic products like bread, carrots, apples, and spinach casually placed in front of"
        width="644"
        height="757"
      />
    </div>
  </div>
</section>
