<section id="contacts" class="contacts">
  <div class="container">
    <div class="contacts-content-wrapper">
      <h3 class="section-subtitle">Contacts</h3>

      <h2 class="section-title">Get in Touch</h2>

      <p class="section-contacts-text">We'd love to hear from you anytime!</p>

      <address class="contacts-box">
        <ul class="contacts-add-list">
          <li class="address-list-item">
            <svg class="contacts-address-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-icon"></use>
            </svg>
            <a
              class="contacts-address-link"
              href="mailto:hello@organicstore.com"
            >
              hello@organicstore.com
            </a>
          </li>
          <li class="address-list-item">
            <svg class="contacts-address-icon" width="24" height="24">
              <use href="/img/sprite.svg#icon-phone"></use>
            </svg>
            <a class="contacts-address-link" href="tel:+15553291024">
              +1 (555) 329-1024
            </a>
          </li>
        </ul>
      </address>

      <form class="contacts-form" action="#">
        <label class="form-label" for="name">Name</label>
        <div class="input-wrapper">
          <input
            type="text"
            placeholder="Sarah"
            name="user-name"
            id="name"
            required
            pattern="^[a-zA-Z\s\.]{5,64}$"
            autocomplete="name"
            class="form-input-name"
          />
          <p class="error-message">Name must contain 5-64 letters</p>
        </div>

        <label class="form-label" for="email">Email</label>
        <div class="input-wrapper">
          <input
            type="email"
            placeholder="hello@organic.com"
            name="user-email"
            id="email"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            autocomplete="email"
            class="form-input-email"
          />
          <p class="error-message">Enter a valid email</p>
        </div>

        <label class="form-label" for="message">Message</label>
        <textarea
          placeholder="Type your message..."
          name="user-message"
          id="message"
          required
          maxlength="500"
          class="contacts-form-textarea"
        ></textarea>

        <button class="contacts-form-btn" type="submit">Submit</button>
      </form>
    </div>

    <div class="contacts-img-box">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/contacts-images/contacts-image-d@1x.jpg 1x,
            /img/contacts-images/contacts-image-d@2x.jpg 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            /img/contacts-images/contacts-image-t@1x.jpg 1x,
            /img/contacts-images/contacts-image-t@2x.jpg 2x
          "
        />

        <img
          src="/img/contacts-images/contacts-image-m@1x.jpg"
          srcset="/img/contacts-images/contacts-image-m@2x.jpg 2x"
          alt="A small, friendly team of people smiling and looking directly at the camera"
          width="343"
          height="343"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
