<header id="header" class="header">
  <div class="container">
    <a href="index.html" class="header-logo">
      <svg class="header-logo-icon" width="142" height="60">
        <use href="/img/logo.svg#icon-company-logo"></use>
      </svg>
    </a>
    <nav class="header-nav-menu">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#hero" class="nav-item-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#mission" class="nav-item-link">Mission</a>
        </li>
        <li class="header-nav-item">
          <a href="#benefits" class="nav-item-link">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a href="#assorts" class="nav-item-link">Assortment</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedbacks" class="nav-item-link">Feedbacks</a>
        </li>
        <li class="header-nav-item">
          <a href="#faq" class="nav-item-link">FAQ</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="nav-item-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <a href="#assorts" class="btm-link">Order</a>
    <button type="button" class="burger-menu-btn">
      <svg class="burger-menu-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
