<!-- add class is-open -->
<div id="menu" class="menu menu is-open">
  <!-- logo -->
  <div class="container menu-window">
    <a href="index.html" class="menu-logo">
      <svg class="menu-logo-icon" width="142" height="60">
        <use href="/img/logo.svg#icon-company-logo"></use>
      </svg>
    </a>
    <!-- btm-close "X" -->
    <button type="button" class="menu-close-btn">
      <svg class="close-btn-icon" width="32" height="32">
        <use href="/img/sprite.svg#icon-x-"></use>
      </svg>
    </button>
    <!-- nav-menu -->
    <nav class="menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a href="#hero" class="menu-nav-item-link">Home</a>
        </li>
        <li class="menu-nav-item">
          <a href="#mission" class="menu-nav-item-link">Mission</a>
        </li>
        <li class="menu-nav-item">
          <a href="#benefits" class="menu-nav-item-link">Benefits</a>
        </li>
        <li class="menu-nav-item">
          <a href="#assorts" class="menu-nav-item-link">Assortment</a>
        </li>
        <li class="menu-nav-item">
          <a href="#feedbacks" class="menu-nav-item-link">Feedbacks</a>
        </li>
        <li class="menu-nav-item">
          <a href="#faq" class="menu-nav-item-link">FAQ</a>
        </li>
        <li class="menu-nav-item">
          <a href="#contacts" class="menu-nav-item-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <!-- btm-Order -->
    <a href="#assorts" class="menu-btm-link">Order</a>
  </div>
</div>
