.feedbacks {
  /* padding: 64px 0; */
  background-color: #e8eee5;
}

.feedbacks-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  text-align: center;
}

.feedbacks-title {
  font-weight: 400;
  line-height: 1.2;

  color: #010400;
}

.feedbacks-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  color: #010400;
}

.feedbacks-list {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  gap: 24px;
  margin: 0 auto;
}

.feedbacks-card {
  height: 314px;
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 32px;

  border: 1px solid rgba(1, 4, 0, 0.15);
  background-color: transparent;
}

.feedbacks-stars-list {
  display: flex;
  gap: 4px;

  margin-bottom: 24px;
}

.star-filled {
  fill: #141414;
}

.star-outline {
  fill: none;
  stroke: #141414;
}

.feedbacks-text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  color: #010400;
}

.feedbacks-author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}

.feedbacks-author img {
  border-radius: 50%;
}

.feedbacks-author-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  color: #010400;
}

@media screen and (min-width: 768px) {
  .feedbacks-title-wrapper {
    max-width: 644px;
    margin: 0 auto 52px;
    gap: 24px;
  }

  .feedbacks-list {
    flex-direction: row;
    max-width: 704px;
    flex-wrap: wrap;
    gap: 24px;
  }

  .feedbacks-card {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .feedbacks-title-wrapper {
    max-width: 644px;
    margin-bottom: 80px;
  }

  .feedbacks-title {
    font-size: 48px;
  }

  .feedbacks-list {
    max-width: 1312px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedbacks-card {
    width: calc((100% - 72px) / 4);
  }
}
